body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Subtitle {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 50px;
}

.Title {
  background-color: cornflowerblue;
  color: #FFFFFF;
  -webkit-text-stroke: 0.5px gold;
  text-align: center;
  height: 70px;
  box-sizing: border-box;
  line-height: 70px; /* Align text vertically */
  flex: 1;
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}

.TitleContainer {
  display: flex;
  justify-content: space-around; /* Center the subtitles */
  border-bottom: 1.5px solid black;
  box-shadow: 2px 2px 5px black ;
}

.Link {
  color: whitesmoke;
  text-decoration: none;
}

footer {
  height: 50px;
  background-color: #27293A;
  color: whitesmoke;
  width: 100%;
  margin-top: auto;
  text-align: center;
}

.login-main-div {
  display: flex;
  flex-direction: column;       
  justify-content: center;     
  align-items: center;         
  width: 400px; 
  height: 300px;                 
  padding: 20px;                 
  margin: 50px auto;             
  background-color: #f0f0f0;     
  border-radius: 8px;             
  box-shadow: 0 0 5px rgba(0,0,0,0.1); 
}

.input-details{
  margin: 5px;
}

.user-type{
  display: flex;
  flex-direction: row;       
  justify-content: center;     
  align-items: center;         
  width: 400px; 
  height: 300px;                 
  padding: 20px;                 
  margin: 50px auto;             
  background-color: #f0f0f0;     
  border-radius: 8px;             
  box-shadow: 0 0 5px rgba(0,0,0,0.1); 
}

.button-login{
  margin: 10px;
  color: white;
  background-color: rgb(0, 145, 255);
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  cursor: pointer;
}
.button-login:hover{
  background-color: #27293A;
}

#lr{
  display: flex;
  flex-direction: row;       
  justify-content: center;     
  align-items: center;                       
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-form {
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}
.popup-form h3 {
  margin-bottom: 16px;
}

.popup-form label {
  display: block;
  margin-bottom: 10px;
}

.popup-form input,
.popup-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}